<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login | VokLagyo</title>
  <link rel="stylesheet" href="{%static 'css/login.css' %}">
  <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>

<body>
  <!-- header start -->
  <header>
    <nav class="navbar">
      <a href=" /" class="nav-branding">Voklagyo</a>
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="#" class="nav-link">Add Restaurent </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a href="/user_app/signup" class="nav-link">signup</a>
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>
  <!-- header end -->

  <!-- login start -->
  <section>
    <div class="imgBx">
      <img src="./images/login-side.jpg" alt="">
    </div>
    <div class="contentBx">
      <div class="formBx">
        <h2>Login</h2>
        <form method="POST" action="/user_app/get/">
          {% csrf_token %}
          <div class="inputBx">
            <span>Mobile Number</span>
            <input type="number" name="phone" />
          </div>
          <div class="inputBx">
            <span>Password</span>
            <input type="password" name="password" />
          </div>
          <div class="remember">
            <label><input type="checkbox" name="" /> Remember me </label>
          </div>
          <div class="inputBx">
            <input type="submit" value="Sign in" name="" />
          </div>
          <div class="inputBx">
            <p>Don't have an account? <a href="/user_app/signup">Sign up</a></p>
          </div>
        </form>
        <div class="inputBx">
          <p><a href="#">Forgot Password?</a> </p>
        </div>
        <h3>Or Login with</h3>
        <ul class="soc">
          <li class='facebook'><span>Facebook</span></li>
          <li class="google"><span>Google</span></li>
        </ul>

      </div>
    </div>
    </div>
  </section>
<!-- login end -->
<script src="./js/script.js"></script>
</body>

</html>
