<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VokLagyo</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- header start -->
    <header>
        <nav class="navbar">
            <a href="./index.html" class="nav-branding">Voklagyo</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Add Restaurent </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a href="./login.html" class="nav-link">Login</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <!-- header end -->

    <!-- content start -->
    <div class="container">
        <div class="container-img">
            <div class="search-container">
                <h1>Find the best food and drinks</h1>
                <form class="formBx">
                    <select class="search-city" name="city" id="city">
                        <option value="kathmandu" selected="selected">Kathmandu</option>
                        <option value="biratnagar">Biratnagar</option>
                        <option value="pokhara">Pokhara</option>
                        <option value="ithari">ithari</option>
                        <option value="jhapa">jhapa</option>
                        <option value="janakpur">janakpur</option>
                    </select>
                    <input class="search-type" type="search" placeholder="Search..." name="search">
                    <button class="btn" type="submit">Search </button>
                </form>

            </div>
        </div>

    </div>

    <!-- content end -->
    <script src="./js/script.js"></script>
</body>

</html>