{% extends './base.html' %}
{% load static %}
{% block title %} BhokLagyo {% endblock %}
{% block content %}

    <!-- content start -->
    <div class="container">
        <div class="container-img">
            <div class="search-container">
                <h1>Find the best food and drinks</h1>
                <form class="formBx">
                    <select class="search-city" name="city" id="city">
                        <option value="kathmandu" selected="selected">Kathmandu</option>
                        <option value="biratnagar">Biratnagar</option>
                        <option value="pokhara">Pokhara</option>
                        <option value="ithari">ithari</option>
                        <option value="jhapa">jhapa</option>
                        <option value="janakpur">janakpur</option>
                    </select>
                    <input class="search-type" type="search" placeholder="Search..." name="search">
                    <button class="btn" type="submit">Search </button>
                </form>

            </div>
        </div>

    </div>

{% endblock %}