<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>items | VokLagyo</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- header start -->
    <header>
        <nav class="navbar">
            <a href="./index.html" class="nav-branding">Voklagyo</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Add Restaurent </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a href="./login.html" class="nav-link">Login</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <!-- header end -->

    <!-- content start -->
    <div class="container">
        <div class="container-img">
            <!-- cards start -->
            <h3>Your Choice</h3>
            <div class="product-container">
                <div class="product" data-name="p-1">
                    <img src="./images/momo.jpg" alt="momo">
                    <h3>momo</h3>
                    <div class="price">Rs.120</div>
                </div>            
                <div class="product" data-name="p-2">
                    <img src="./images/momo.jpg" alt="momo">
                    <h3>Jhol momo</h3>
                    <div class="price">Rs.120</div>
                </div>      

            </div>

            <!-- cards end -->
        </div>

    </div>
    <!-- content end -->
    <script src="./js/script.js"></script>
</body>

</html>