<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signup | VokLagyo</title>
  <link rel="stylesheet" href="./css/login.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <!-- header start -->
  <header>
    <nav class="navbar">
      <a href="./index.html" class="nav-branding">Voklagyo</a>
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="#" class="nav-link">Add Restaurent </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a href="./login.html" class="nav-link">Login</a>
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>
  <!-- header end -->

  <!-- signup start -->
  <section>
    <div class="imgBx">
      <img src="./images/login-side.jpg" alt="">
    </div>
    <div class="contentBx">
      <div class="formBx">
        <h2>signup</h2>
        <form id="signupForm">
          <div class="inputBx">
            <span>Username</span>
            <input type="text" name="" />
          </div>
          <div class="inputBx">
            <span>Email</span>
            <input type="email" name="" />
          </div>
          <div class="inputBx">
            <span>Password</span>
            <input type="password" id="first_pass" name="" />
          </div>
          <div class="inputBx">
            <span>Confirm Password</span>
            <input type="password" id="second_pass" name="" />
          </div>
          <div class="inputBx">
            <input type="submit" value="Sign up" name="" />
          </div>
          <div class="inputBx">
            <p>Already have an account? <a href="./login.html">Login</a></p>
          </div>
        </form>
        <h3>Or signup with</h3>
        <ul class="soc">
          <li class='facebook'><span>Facebook</span></li>
          <li class="google"><span>Google</span></li>
        </ul>

      </div>
    </div>
    </div>
  </section>
  <!-- signup end -->
  <script src="./js/script.js"></script>

</body>
<!-- <script src="./js/signupValidation.js"></script> -->

</html>